@import "libs/bootstrap.css";
@import "libs/bootstrap-responsive.css";
@import "libs/jquery-ui.css";
@import "timeline.css";
@import "tracks.css";
@import "ghost-tracks.css";
@import "actions.css";
@import "library.css";
@import "chat.css";
@import "transport.css";
@import "menu-bar.css";
@import "clips.css";

body {
  background-color:black;
  margin-bottom:40px 0;
  overflow:hidden;
}

#main {
}

#workspace {
  overflow-y:scroll;
  float:left;
}

#left-bar {
  background-color:#333;
  height:100%;
  width:200px;
  float:left;
  z-index:1000;
}

.dropzone {
  border: 4px dashed #666;
  text-align:center;
  padding:50px 0;
  color:#666;
  background-color:#333;
  font-size:16px;  
}
#sequencer {
  height:100%;
  overflow-y : hidden;
  overflow-x:scroll;
}

#timeline-stage {
  position:absolute;
  overflow:hidden;
}

#right-bar {
  float:right;
  width:300px;
  height:100%;
  background-color:#222;
  color:#EEE;
  padding:8px;
  overflow:hidden;
}

#right-bar .tab-content {
  height:90%;
  overflow-y:auto;
  overflow-x:hidden;
}