.clip {
  height : 100%;
  overflow:hidden;
  border-left :1px solid #444;
  border-right:1px solid #444;
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.8) 0%, rgba(255,255,255,0.2) 10%, rgba(255,255,255,0.2) 90%, rgba(0,0,0,0.8) 100%); /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.8)), color-stop(10%,rgba(255,255,255,0.2)), color-stop(90%,rgba(255,255,255,0.2)), color-stop(100%,rgba(0,0,0,0.8))); /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(255,255,255,0.2) 10%,rgba(255,255,255,0.2) 90%,rgba(0,0,0,0.8) 100%); /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(255,255,255,0.2) 10%,rgba(255,255,255,0.2) 90%,rgba(0,0,0,0.8) 100%); /* Opera 11.10+ */

  background: -ms-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(255,255,255,0.2) 10%,rgba(255,255,255,0.2) 90%,rgba(0,0,0,0.8) 100%); /* IE10+ */

  background: linear-gradient(to bottom,  rgba(0,0,0,0.8) 0%,rgba(255,255,255,0.2) 10%,rgba(255,255,255,0.2) 90%,rgba(0,0,0,0.8) 100%); /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#cc000000',GradientType=0 ); /* IE6-9 */

}

.clip .filename {
  font-size:11px;
  color: #eee;
  position:absolute;
  bottom:0;
}

.clip.ui-selected {
  border-left :1px solid rgb(20, 164, 255);
  border-right:1px solid rgb(20, 164, 255);
  background: -moz-linear-gradient(top,  rgba(20,164,255,0.8) 0%, rgba(255,255,255,0.2) 10%, rgba(255,255,255,0.2) 90%, rgba(20,164,255,0.8) 100%); /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(20,164,255,0.8)), color-stop(10%,rgba(255,255,255,0.2)), color-stop(90%,rgba(255,255,255,0.2)), color-stop(100%,rgba(20,164,255,0.8))); /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top,  rgba(20,164,255,0.8) 0%,rgba(255,255,255,0.2) 10%,rgba(255,255,255,0.2) 90%,rgba(20,164,255,0.8) 100%); /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top,  rgba(20,164,255,0.8) 0%,rgba(255,255,255,0.2) 10%,rgba(255,255,255,0.2) 90%,rgba(20,164,255,0.8) 100%); /* Opera 11.10+ */

  background: -ms-linear-gradient(top,  rgba(20,164,255,0.8) 0%,rgba(255,255,255,0.2) 10%,rgba(255,255,255,0.2) 90%,rgba(20,164,255,0.8) 100%); /* IE10+ */

  background: linear-gradient(to bottom,  rgba(20,164,255,0.8) 0%,rgba(255,255,255,0.2) 10%,rgba(255,255,255,0.2) 90%,rgba(20,164,255,0.8) 100%); /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc14a4ff', endColorstr='#cc14a4ff',GradientType=0 ); /* IE6-9 */

}
