#dropzone {
  border: 4px dashed #666;
  text-align:center;
  padding:100px 0;
  color:#666;
  font-size:16px;
}

.audio-source .filename {
  width:100px;
  overflow:hidden;
}

.audio-source.ui-draggable:hover {
  cursor : move;
}

.audio-source .bar {
  background-color:#888; 
  height:10px;
}

.audio-source .remove-btn {
  padding:2px;
}
.audio-source .remove-btn:hover, .upload-btn:hover, .preview-btn:hover {
  cursor:pointer;
}