.track-controls {
  height:75px;
  padding:0 5px;
  background: rgb(89,89,89); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(89,89,89,1) 0%, rgba(48,48,48,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(89,89,89,1)), color-stop(100%,rgba(48,48,48,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(89,89,89,1) 0%,rgba(48,48,48,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(89,89,89,1) 0%,rgba(48,48,48,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(89,89,89,1) 0%,rgba(48,48,48,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(89,89,89,1) 0%,rgba(48,48,48,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#595959', endColorstr='#303030',GradientType=0 ); /* IE6-9 */
  border-bottom: 2px solid #333;
}

.track-controls .name {
  color:#EEE;
}

.track-controls .remove-track {
  float : right;
  padding:2px;
}

.track-controls .remove-track:hover {
  background-color:#222;
  cursor:pointer;
}

.track {
  position:relative;
  width : 100%;
}

.track-controls input {
  margin:0;
  width:100px;
  background-color:#111;
  color:#ccc;
  padding:0;
  border:0;
}

.track-controls .volume-slider {
  width:120px;
  margin-left:5px;
}

.track-controls .volume-display {
  margin-left:15px;
  color: #eee;
}

.ghost-track-controls .name, .ghost-track-controls .volume-display {
  color:#999;
}

