#transport .current-time {
  font-size:18px;
  font-weight:bold;
  letter-spacing:2px;
  font-family : "Monaco", "monospace"
}

#transport input {
  margin:10px 0 0 14px;
  width:100px;
  background-color:#444;
  color:#ccc;
  padding:0;
  border:0;
}