<h1>Users</h1>
<div class="row-fluid">
<ul class="thumbnails">
  <% @users.each do |user| %>
  <% if user != current_user %> 
    <li class="span1">
      <%= render "thumbnail", :user => user %>
    </li>
    <% end %>
  <% end %>
</ul>
</div>
