<h1>Users</h1>
<ul>
  <% @users.each do |user| %>
  <% if user != current_user %>
    <li>
      <%= user.name %> <%= user.email %>
      <% if user.in? current_user.friends %>
        <%= link_to "remove friend", friend, :confirm => "Are you sure ?", :method => :delete %>
      <% else %>
        <%= link_to "add as friend", add_friend_path(:user => user), :method => :post %>
      <% end %>
    </li>
    <% end %>
  <% end %>
</ul>
