<ul class="nav nav-list">
  <li class="nav-header">Explore</li> 
  <li><%= link_to "artists", users_path %></li>
  <li><%= link_to "bands", bands_path %></li>

  <% if user_signed_in? %>
  <li class="nav-header">Me</li>
  <li><%= link_to "", show_user_path(current_user) %></li>
  <%= render "users/menu" %>
  <% end %>
</ul>
