<div class="btn-group">
  <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
    <i class="icon-cog"></i> <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li>
      <%= link_to edit_band_path(band) do %>
  <i class="icon-edit"></i> edit
  <% end %>
    </li>
    <li>
      <%= link_to band, 
          :data => { :confirm => "This will definitely remove the band for every members. Are you sure ?" }, 
      :method => :delete do %>
      <i class="icon-trash"></i> delete
      <% end %>
    </li>
  </ul>
</div>
