<h1>Bands</h1>
<% if user_signed_in? and params[:user_id] == current_user.id.to_s %>
  <p>
    <%= link_to "New band", new_band_path, :class => "btn btn-primary" %>
  </p>
<% end %>
<ul class="thumbnails">
  <% @bands.each do |band| %>
  <li class="span2">
    <div class="thumbnail">
      <%= render "thumbnail", :band => band %>
      <%= render "menu", :band => band if can? :manage, band %>
    </div>
  </li>
  <% end %>
</ul>
