<div class="container">
<% if can? :manage, @band %>
  <%= render "menu", :band => @band %>
<% end %>
<h1><%= @band.name %></h1>
<%= image_tag @band.avatar.url %>
<h2>Members</h2>
<ul>
  <% @band.users.each do |user| %>
  <li><%= user.name %></li>
  <% end %>
</ul>
</div>
