<i class="<%= previewing ? 'icon-stop' : 'icon-play' %> icon-white preview-btn"></i>
<span class="filename" title="<%= audioFilename %>">
  <%= ellipticalFileName %>
</span>
<span class="pull-right">
<% if (!uploaded) { %>
  <button class="upload-btn btn btn-warning btn-mini">
    <i class="icon-upload"></i>
  </button>
<% } %>
  <i class="icon-remove-circle icon-white remove-btn"></i>
</span>
<% if (!uploaded) { %>
  <div class="bar upload-bar" style="width:0%">
  </div>
<% } %>
<% if (!bufferLoaded) { %>
  <div class="bar buffer-bar" style="width:0%"></div>
<% } %>
<div class="clearfix"></div>
