<div id="workspace">
  
  <div id="left-bar">
    <div id="tracks-controls">
      <!--For tracks controls-->
    </div>
  </div>
  <div id="sequencer">

    <div class="fake-content"></div>
    <div id="timeline-stage"></div>
    <div id="tracker"></div>
    <div id="tracks"></div>    
    <!--Timeline, grid, clips, waveforms come here-->
  </div>
  <div class="clearfix"></div>
</div>

<div id="right-bar">
  <ul class="nav nav-pills">
    <li class="active">
      <a href="#library" data-toggle="pill">library</a>
    </li>
    <li>
      <a href="#action-tree" data-toggle="pill">action tree</a>
    </li>
  </ul>
 
  <div class="tab-content">
    <div class="tab-pane active" id="library"></div>
    <div class="tab-pane" id="action-tree"></div>
  </div>
</div>
