<!-- <div class="container-fluid"> -->
<!--   <div class="row-fluid"> -->
<!--     <div class="span2" id="tracks-controls"> -->
<!--       <\!--Sidebar content-\-> -->
<!--     </div> -->
<!--     <div class="span10" id="tracks-display"> -->
<!--       <\!--Body content-\-> -->
<!--     </div> -->
<!--   </div> -->
<!-- </div> -->
<div class="container-fluid">
    <div id="left-bar">
      <div id="tracks-controls">
	<!--For tracks controls-->
      </div>
    </div>
    <div id="sequencer">
      <!--Timeline, grid, clips, waveforms come here-->
    </div>
</div>
