<div class="navbar-inverse navbar navbar-fixed-bottom" id="transport">
  <div class="navbar-inner">
    <div class="container">
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      
      <!-- Be sure to leave the brand out there if you want it shown -->
      <ul class="nav">
        <li>
          <button class="btn btn-info btn-small" id="add-track-btn" rel="tooltip"
                  data-original-title="Hot key : N">
            <i class="icon-plus icon-white"></i> add track
          </button>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span> Menu
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="#" id="menu-delete">Delete 
                <span class="pull-right muted">Del</span>
              </a>
            </li>
            <li>
              <a href="#" id="menu-export">Export ...
              </a>
            </li>
          </ul>
        </li>
        <li class="divider-vertical"></li>
        <li>
          <a class="title" rel="tooltip" data-original-title="Double click to edit">
            <%= title %>
          </a>
        </li>
        <li>
          <a><%= bpm %> bpm</a>
        </li>
        <li class="divider-vertical"></li>
        <li>
          <div class="btn-group">
            <button class="btn btn-inverse" id="rewind-btn" rel="tooltip"
                    data-original-title="Hot key : 0">
              <i class="icon-fast-backward icon-white"></i>
            </button>
            <button class="btn btn-inverse" id="stop-btn">
              <i class="icon-white icon-stop"></i>
            </button>
            <button class="btn btn-primary" id="play-btn" disabled="disabled"
                    rel="tooltip" data-original-title="Hot key : spacebar">
              <i class="icon-white icon-play"></i>
            </button>
            <button class="btn btn-info" id="loop-btn" data-toggle="button"
                    rel="tooltip" data-original-title="Hot key : none ATM">
              <i class="icon-white icon-repeat"></i>
            </button>
          </div>
        </li>
        <li class="divider-vertical"></li>
        <li class="active">
          <a class="current-time">00:00:000 | 1.1</a>
        </li>
        <li class="divider-vertical"></li>
        <li>
          <div class="btn-group">
            <button class="btn btn-small" id="zoom-out-btn" rel="tooltip" 
                    data-original-title="Hot key : -">
              <i class="icon-zoom-out"></i>
            </button>
            <button class="btn btn-small" id="zoom-in-btn" rel="tooltip" 
                    data-original-title="Hot key : +">
              <i class="icon-zoom-in"></i>
            </button>
          </div>
        </li>
      </ul>

      <ul class="nav pull-right">
        <li>
          <button class="btn btn-inverse active" id="toggle-right-bar-btn"
                  rel="tooltip" data-original-title="Show/hide right bar">
            <i class="icon-white icon-headphones"></i>
            <i class="icon-white icon-list"></i>
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
