/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

.hero-unit {
  border:none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  text-align:center;
  margin-bottom:0;
  color : #fff;
  padding-top:5px;
background: rgb(181,189,200); /* Old browsers */

background: -moz-linear-gradient(top,  rgba(181,189,200,1) 0%, rgba(130,140,149,1) 52%, rgba(51,62,70,1) 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(181,189,200,1)), color-stop(52%,rgba(130,140,149,1)), color-stop(100%,rgba(51,62,70,1))); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 52%,rgba(51,62,70,1) 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(top,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 52%,rgba(51,62,70,1) 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(top,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 52%,rgba(51,62,70,1) 100%); /* IE10+ */

background: linear-gradient(to bottom,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 52%,rgba(51,62,70,1) 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#333e46',GradientType=0 ); /* IE6-9 */

}

.hero-unit .light {
  color: #bbb;
}
.hero-unit .btn-large {
  font-size:24px;
  padding:14px 24px;
  font-weight:200;
}

.share-follow {
  background-color:#ccc;
  padding-top:5px;
}

.concepts {
  background-color:#333;
  color : #eee;
  text-align:center;
}

.concepts h3 {
  text-align:center;
  color : #fff;
  margin-bottom:4px;
background: rgb(149,3,37); /* Old browsers */

background: -moz-linear-gradient(top,  rgba(149,3,37,1) 0%, rgba(126,2,31,1) 44%, rgba(96,0,22,1) 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(149,3,37,1)), color-stop(44%,rgba(126,2,31,1)), color-stop(100%,rgba(96,0,22,1))); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top,  rgba(149,3,37,1) 0%,rgba(126,2,31,1) 44%,rgba(96,0,22,1) 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(top,  rgba(149,3,37,1) 0%,rgba(126,2,31,1) 44%,rgba(96,0,22,1) 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(top,  rgba(149,3,37,1) 0%,rgba(126,2,31,1) 44%,rgba(96,0,22,1) 100%); /* IE10+ */

background: linear-gradient(to bottom,  rgba(149,3,37,1) 0%,rgba(126,2,31,1) 44%,rgba(96,0,22,1) 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#950325', endColorstr='#600016',GradientType=0 ); /* IE6-9 */
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.concepts .accordion-body {
  text-align:left;
}