<!-- FB stuffs -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- end of FB stuffs -->
<div class="hero-unit">
  <div class="container">
    <div class="row">
      <div class="pull-left" style="text-align:left">
        <h5>Like it ? Share and support !</h5>
	<a href="https://twitter.com/clawlab" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @clawlab</a>
	<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://clawlab.org" data-text="A Cloud Audio Workstation" data-via="clawlab" data-related="clawlab" data-count="none">Tweet</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        <br />

	<div class="fb-like" data-href="http://clawlab.org" data-send="true" data-layout="button_count" data-width="450" data-show-faces="false"></div>
        <br />

	<div class="g-plusone" data-size="medium" data-annotation="none" data-href="http://clawlab.org"></div>
<script type="text/javascript">
  window.___gcfg = {lang: 'fr'};

  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
      </div>

      <div class="pull-right" style="text-align:right">
        <h5>Dev ? Get involved and contribute !</h5>
	<a style="margin-bottom:12px" class="btn btn-mini" href="https://groups.google.com/d/forum/clawlab">
	  <img src="https://groups.google.com/forum/browse-all-color.png" alt="google-groups-logo" width="20px"/> 
	  Google group
	</a>
        <br />

	<iframe src="http://ghbtns.com/github-btn.html?user=gabriel-cardoso&repo=clawlab&type=watch"
  allowtransparency="true" frameborder="0" scrolling="0" width="62px" height="20px"></iframe>
	<iframe src="http://ghbtns.com/github-btn.html?user=gabriel-cardoso&repo=clawlab&type=fork"
  allowtransparency="true" frameborder="0" scrolling="0" width="62px" height="20px"></iframe>
      </div>
    </div>
  </div>
  <h1>Cl<span class="light">oud</span> A<span class="light">udio</span> 
    W<span class="light">orkstation</span></h1>
  <p>
    Listen, edit and manage your musical projects from anywhere. Share. 
    Collaborate.
  </p>
  <%= link_to "login", new_user_session_path, :class => "btn btn-primary btn-large btn-inverse" %>
  <%= link_to "sign up", new_user_registration_path, :class => "btn btn-primary btn-large" %>
</div>

<div class="concepts">
  <div class="container">
    <div class="row">
      <div class="span6" id="accordion">
        <h2>What is Claw ?</h2>
	<div class="accordion-group">
	<h3 class="accordion-toggle" data-toggle="collapse" href="#work-from-anywhere" data-parent="#accordion">
	  Work from anywhere
	</h3>
	<div id="work-from-anywhere" class="accordion-body collapse">
          Do you work at home ? At a friend's ? Sometimes in a studio ?<br />
	  Use Claw to work on your musical projects from anywhere. Upload your 
	  tracks. Edit them via a web based multi-track sequencer. Work together
	  with your band
	</div>
	<h3 class="accordion-toggle" data-toggle="collapse" href="#no-more-ping-pong" data-parent="#accordion">
	  No more "ping pong"
	</h3>
	<div id="no-more-ping-pong" class="accordion-body collapse">
          You used to collaborate by email ? Sending a version, waiting for your
          collaborators to work and send a new version back ?<br />
	  Claw includes a version control system that allows you to work in 
          parallel, compare, restore and merge different song versions. <br />
	  You can also comment songs and tracks, create/assign tasks, etc.
	</div>
	<h3 class="accordion-toggle" data-toggle="collapse" href="#not-yet-another-daw" data-parent="#accordion">
	  <span style="text-decoration:line-through">"Yet another DAW"</span>
	</h3>
	<div id="not-yet-another-daw" class="accordion-body collapse">
          You spent hard time learning Cubase or Live ? And of course your friend
          use Logic or Pro Tools and he's not ready to change ... Claw is 
          not "yet another DAW".<br />
	  The aim is to complete the tools we already use and make it possible 
          to collaborate with people using different DAW.<br />
	  Still, the web interface has elementary edition features to allow you 
          to make basic modifications if you're not at home or at the studio.
	</div>
	<h3 class="accordion-toggle" data-toggle="collapse" href="#social-network" data-parent="#accordion">A social network</h3>
	<div id="social-network" class="accordion-body collapse">
          You need a guitar or a female voice for a song ? Browse the network to
	  meet other musicians, sound engineers, arrangers, etc.<br />
	  Collaborate, comment, share knowledges and audio samples on Claw.
	</div>
	<h3 class="accordion-toggle" data-toggle="collapse" href="#open-source" data-parent="#accordion">Open source</h3>
	<div id="open-source" class="accordion-body collapse">
	  Claw started at <a href="http://www.inria.fr">Inria</a> as the winner
          project of the "Boost Your Code" contest 2011. It is released under 
          the AGPL licence. The code is on 
          <a href="http://github.com/gabriel-cardoso/clawlab">Github</a>. Fork 
          it.
	</div>
	</div>
      </div>
      <div class="span6">
        <h2>Demo</h2>
	<iframe src="http://player.vimeo.com/video/41912188" width="500" height="313" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <div class="container">
    <div class="row">
      <div class="span4">
        <h5>Claw</h5>
        <ul class="unstyled">
          Claw is an open source project released under the 
          <a href="http://www.gnu.org/licenses/agpl-3.0.txt">GNU Affero GPL</a>
          license and was <em>boosted</em> by <a href="http://www.inria.fr">Inria</a>
        </ul>
      </div>
      <div class="span4">
        <h5>Contribute</h5>
        <ul class="unstyled">
          <li>Join the <a href="https://groups.google.com/d/forum/clawlab">
              mailing list</a>
          </li>
          <li>
            <a href="https://github.com/gabriel-cardoso/clawlab/wiki">Wiki</a>
          </li>
          <l>
            Source code on <a href="https://github.com/gabriel-cardoso/clawlab">
              Github</a>
          </li>
        </ul>
      </div>
      <div class="span4">
        <h5>Contact us</h5>
        <ul class="unstyled">
          <li>Twitter <a href="http://twitter.com/clawlab">@clawlab</a></li>
          <li>Email <a href="mailto:contact@clawlab.org">contact@clawlab.org</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
